[Unit]
Description=Robot control service
After=network-online.target
Wants=network-online.target

[Service]
User=ubuntu
WorkingDirectory=/tmp
ExecStart=/bin/bash --login -c 'source /home/ubuntu/.bashrc; /var/lib/minipupper/run.sh'
KillSignal=2
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
